a {
  color: inherit;
}
.head {
  font-size: 3vw;
  background-color: indigo;
  color: #fffff2;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.table {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
  box-sizing: border-box;
}
