.leag {
  font-size: 3.5vw;
  box-sizing: border-box;
  background-color: indigo;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
  color: #fffff2;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.tab {
  text-align: left;
}
img {
  width: 4.5%;
}
